{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Nostro Reconciliation System
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{% static 'home/css/style.css' %}">

</head>

<body>

    <div class="sidebar">

        <h2>Navigator</h2>

        <a href="{% url 'home' %}">
            Dashboard
        </a>

        <a href="{% url 'ledgers' %}">
            Ledgers
        </a>

        <a href="{% url 'nostros' %}">
            Nostros
        </a>

        <a href="{% url 'matching' %}">
            Matching
        </a>

    </div>


    <div class="content">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>