{% extends "home/base.html" %}

{% block title %}
Nostro Transactions
{% endblock %}

{% block content %}

<h1>Nostro Transactions</h1>

<div class="scroll-table">

<table>

<thead>

<tr>

    <th>Nostro ID</th>
    <th>Value Date</th>
    <th>Currency</th>
    <th>Amount</th>
    <th>D/C</th>
    <th>Transaction Code</th>
    <th>Reference</th>
    <th>Related Account</th>
    <th>Ordering Party</th>
    <th>Description</th>
    <th>Transaction Reference</th>

</tr>

</thead>


<tbody>

{% for nostro in nostros %}

<tr>

    <td>{{ nostro.nostro_id }}</td>

    <td>
        {{ nostro.value_date|date:"d-M-Y" }}
    </td>

    <td>{{ nostro.currency }}</td>

    <td>{{ nostro.amount }}</td>

    <td>{{ nostro.dc_indicator }}</td>

    <td>{{ nostro.transaction_code }}</td>

    <td>{{ nostro.reference }}</td>

    <td>{{ nostro.related_account }}</td>

    <td>{{ nostro.ordering_party }}</td>

    <td>{{ nostro.description }}</td>

    <td>{{ nostro.transaction_reference }}</td>

</tr>

{% empty %}

<tr>

    <td colspan="11">
        No Nostro transactions found.
    </td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}